<!-- <div class="floating-banner">
  <h1 class="floating-banner-heading">
    <span class="floating-banner-heading-1"> A floating banner text</span>
    <span class="floating-banner-heading-2"> which keeps on rotating </span>
  </h1>
</div> -->
<section class="floating-banner">
  <div class="border p-4 bg-1">
    <div class="border p-4 bg-2">
      <div class="border p-4 bg-3">
        <div class="border p-4 bg-4">
          <div class="border p-4 bg-5">
            <div class="border p-4 bg-6">
              <div class="border p-4 bg-7">
                <h3 class="text-center">A floating banner text</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th *ngFor="let key of keys">
          {{ key }}
          <div class="d-block pull-right">
            <div
              class="up-arrow"
              data-isdesc="true"
              (click)="clickDecsIcon($event, key)"
            >
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | sort: columnToSort:IsDesc">
        <td>{{ item.Name }}</td>
        <td>{{ item.Class }}</td>
        <td>{{ item.Section }}</td>
        <td>{{ item.Sub1 }}</td>
        <td>{{ item.Sub2 }}</td>
        <td>{{ item.Sub3 }}</td>
      </tr>
    </tbody>
  </table>
</section>
