.floating-banner {
  border: 2px solid;
  height: 350px;
}

.floating-banner-heading {
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
}

.floating-banner-heading-1,
.floating-banner-heading-2 {
  display: block;
}

.floating-banner-heading-1 {
  animation: moveInLeft 1s ease-out;
  -webkit-animation: moveInLeft 1s ease-out;
}

.floating-banner-heading-2 {
  animation: moveInRight 1s ease-out;
  -webkit-animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
